python-dotenv
openai-whisper
openai
langchain
langchain-openai
langchain-community
langchain-pinecone
langchain-chroma
pypdf
docarray
faiss-cpu
requests
beautifulsoup4
lxml
tqdm
chromadb
langchain_ollama
langchain_anthropic
sentence-transformers
accelerate

